html {
  height: 100%;
}
body {
  background: linear-gradient(to bottom, #ffffff 0%, #9999ff 100%);
  height: 100%;
  margin-bottom: 0;
  padding-left: 15px;
  background-reppeat: no-repeat;
  background-attachment: fixed;
}

font {
  font-family: "Arvo", serif;
}
